<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-3 sq-container">
                    <h3>
                        Create Petition
                    </h3>
                </div>
                <div class="col-1"></div>
                <div class="col-3 sq-container">
                    <h3>
                        View All Petitions
                    </h3>
                </div>
                <div class="col-1"></div>
                <div class="col-3 sq-container" >
                    <h3>
                        Search for Petition
                    </h3>
                </div>
            </div>
        </div>


    </main>
    <script th:replace="~{fragments :: footer}"></script>
</body>
</html>